img {
  height: 96px;
  width: 96px;
  display: block;
  margin-top: 39px;
  margin-bottom: 110px;
  margin-left: auto;
  margin-right: auto;
}

.sidebar {
  width: 170px;
  height: "100%";
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.sidebar .logo img {
  height: 96px;
  width: 96px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin-bottom: 24px;
  height: 72px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #555555;
  font-weight: bold;
}

.navbar {
  height: 80px;
  background-color: #1e1e2e;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar .logo img {
  height: 40px;
  width: 40px;
}

.navbar .login span {
  font-size: 16px;
  font-weight: bold;
}

.form-container {
  display: flex;
}

.form-image {
  width: 50%;
}

.form-fields {
  width: 50%;
  padding: 20px;
}

.form-row {
  display: flex;
  margin-bottom: 10px;
}

.form-row label {
  width: 150px;
}

.form-row input[type="text"],
.form-row input[type="date"],
.form-row input[type="tel"],
.form-row input[type="email"],
.form-row select {
  width: 274px;
}

.form-row:last-child input[type="text"],
.form-row:last-child select {
  width: 571px;
}

.form-row:last-child label {
  margin-left: 24px;
}
